<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ studykit.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-start">
    <h1>{{ studykit.title }}</h1>
    <p>
      <ion-text>{{ studykit.description }}</ion-text>
    </p>
    <p>
      <ion-text color="medium">Erstellt von: {{ owner.nickname }}</ion-text>
    </p>
  </div>

  <div class="ion-padding" *ngIf="studykit.created_by !== userId">
    <ion-button fill="outline" expand="block" (click)="saveStudykit()"
      >Lernset speichern</ion-button
    >
  </div>

  <div>
    <ion-card *ngFor="let card of studykit.cards">
      <ion-card-content>
        <p>{{ card.question }}</p>

        <div *ngIf="card.type === 'text'">
          <ion-list lines="none">
            <ion-item>
              <ion-label>{{ card.answers[0] }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="card.type === 'multiple'">
          <ion-list>
            <ion-item *ngFor="let answer of card.answers">
              <ion-icon
                *ngIf="answer.isRight"
                name="checkmark-circle-outline"
                slot="start"
              ></ion-icon>

              <ion-icon
                *ngIf="!answer.isRight"
                name="close-circle-outline"
                slot="start"
              ></ion-icon>
              <p>{{ answer.text }}</p>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
