<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menü</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item routerLink="/profile"> Mein Profil </ion-item>
      <ion-item routerLink="/studykit-overview"> Lernsetübersicht </ion-item>
    </ion-list>

    <div>
      <ion-button expand="block" (click)="logout()">Abmelden</ion-button>
    </div>
  </div>
</ion-content>
