<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ studykit.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!showResult">
  <div class="question-area">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Frage</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content> {{ cardToShow.question }} </ion-card-content>
    </ion-card>
  </div>

  <div class="answer-area">
    <div *ngIf="cardToShow.type === 'text'">
      <ion-list>
        <ion-item>
          <ion-textarea
            placeholder="Meine Antwort"
            rows="5"
            [(ngModel)]="answerOfTextarea"
          ></ion-textarea>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="cardToShow.type === 'multiple'">
      <ion-list>
        <ion-item *ngFor="let answer of cardToShow.answers">
          <ion-checkbox
            slot="start"
            color="tertiary"
            (click)="onStatusChange(answer)"
          ></ion-checkbox>
          <ion-label>{{ answer.text }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="navigation-area">
    <ion-button
      *ngIf="studycardArray.length - 1 > cardIndex"
      color="tertiary"
      expand="block"
      shape="round"
      (click)="checkAnswer()"
      >Weiter</ion-button
    >
    <ion-button
      *ngIf="studycardArray.length - 1 === cardIndex"
      color="tertiary"
      expand="block"
      shape="round"
      (click)="checkAnswer()"
      >Abschließen</ion-button
    >
  </div>
</ion-content>

<ion-content *ngIf="showResult" class="result-page">
  <div class="result">
    <div class="points">
      <h1>{{ correctAnswers.length }}</h1>
      <h1>/{{ studycardArray.length }}</h1>
    </div>
    <p>richtig beantwortet</p>

    <div
      *ngIf="correctAnswers.length >= studycardArray.length * 0.9"
      class="motivation"
    >
      Du bist top auf deine Prüfung vorbereitet!
    </div>
    <div
      *ngIf="correctAnswers.length < studycardArray.length * 0.9 
        && correctAnswers.length > studycardArray.length * 0.5"
      class="motivation"
    >
      Übe fleißig weiter, du bist fast am Ziel!
    </div>
    <div
      *ngIf="correctAnswers.length <= studycardArray.length * 0.5"
      class="motivation"
    >
      Lass nicht den Kopf hängen. Übe weiter, dann schaffst du es!
    </div>
  </div>

  <ion-list *ngIf="incorrectAnswers.length > 0">
    <ion-item>
      <ion-icon name="library-outline" color="warning" slot="start"></ion-icon>
      <h6>Diese Fragen solltest du dir noch einmal ansehen:</h6>
    </ion-item>
    <ion-accordion-group>
      <ion-accordion *ngFor="let card of incorrectAnswers">
        <ion-item slot="header" lines="none">
          <ion-label>{{ card.question }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" *ngIf="card.type === 'text'">
          <div>Richtige Antwort: {{ card.answers[0] }}</div>
          <div>Deine Lösung: {{ getUserTextAnswer(card.id).userAnswer }}</div>
          <div>
            <ion-text color="danger"
              >Textübereinstimmung: {{ getUserTextAnswer(card.id).textSimilarty
              }}%</ion-text
            >
          </div>
        </div>
        <div slot="content" *ngIf="card.type === 'multiple'">
          <div *ngFor="let answer of card.answers">
            <ion-item>
              <ion-icon
                *ngIf="isAnswerChecked(card.id, answer.id)"
                name="checkmark-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-icon
                *ngIf="!isAnswerChecked(card.id, answer.id)"
                name="remove-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label>{{ answer.text }}</ion-label>
              <ion-icon
                *ngIf="answer.isRight === isAnswerChecked(card.id, answer.id) 
                  || !answer.isRight === !isAnswerChecked(card.id, answer.id)"
                name="checkmark-circle-outline"
                color="success"
                slot="end"
              ></ion-icon>
              <ion-icon
                *ngIf="!answer.isRight === isAnswerChecked(card.id, answer.id) 
                  || answer.isRight === !isAnswerChecked(card.id, answer.id)"
                name="close-circle-outline"
                color="danger"
                slot="end"
              ></ion-icon>
            </ion-item>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>

  <ion-list *ngIf="correctAnswers.length > 0">
    <ion-item>
      <ion-icon name="trophy-outline" color="success" slot="start"></ion-icon>
      <h6>Diese Fragen hast du richtig beantwortet:</h6>
    </ion-item>
    <ion-accordion-group>
      <ion-accordion *ngFor="let card of correctAnswers">
        <ion-item slot="header" lines="none">
          <ion-label>{{ card.question }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" *ngIf="card.type === 'text'">
          <div>Richtige Antwort: {{ card.answers[0] }}</div>
          <div>Deine Lösung: {{ getUserTextAnswer(card.id).userAnswer }}</div>
          <div>
            <ion-text color="success"
              >Textübereinstimmung: {{ getUserTextAnswer(card.id).textSimilarty
              }}%</ion-text
            >
          </div>
        </div>
        <div slot="content" *ngIf="card.type === 'multiple'">
          <div *ngFor="let answer of card.answers">
            <ion-item>
              <ion-icon
                *ngIf="isAnswerChecked(card.id, answer.id)"
                name="checkmark-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-icon
                *ngIf="!isAnswerChecked(card.id, answer.id)"
                name="remove-outline"
                color="primary"
                slot="start"
              ></ion-icon>
              <ion-label>{{ answer.text }}</ion-label>
              <ion-icon
                *ngIf="answer.isRight === isAnswerChecked(card.id, answer.id) 
                  || !answer.isRight === !isAnswerChecked(card.id, answer.id)"
                name="checkmark-circle-outline"
                color="success"
                slot="end"
              ></ion-icon>
              <ion-icon
                *ngIf="!answer.isRight === isAnswerChecked(card.id, answer.id) 
                  || answer.isRight === !isAnswerChecked(card.id, answer.id)"
                name="close-circle-outline"
                color="danger"
                slot="end"
              ></ion-icon>
            </ion-item>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>

  <div class="button-area">
    <ion-button color="tertiary" expand="block" shape="round" routerLink="/home"
      >Fertig</ion-button
    >
  </div>
</ion-content>
