<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{ studykit.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="studykit.cards.length > 0">
  <div class="question-area">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Frage</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content> {{ cardToShow.question }} </ion-card-content>
    </ion-card>
  </div>

  <div class="answer-area">
    <div *ngIf="cardToShow.type === 'text'">
      <ion-list>
        <ion-item>
          <ion-textarea
            placeholder="Meine Antwort"
            rows="5"
            [(ngModel)]="textAnswer"
          ></ion-textarea>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="cardToShow.type === 'multiple'">
      <ion-list>
        <ion-item *ngFor="let answer of cardToShow.answers">
          <ion-checkbox
            slot="start"
            color="tertiary"
            (click)="onChange(answer)"
          ></ion-checkbox>
          <ion-label>{{ answer.text }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="navigation-area">
    <ion-button
      color="tertiary"
      expand="block"
      shape="round"
      (click)="checkAnswer()"
      >Weiter</ion-button
    >
  </div>
</ion-content>
