.question-area {
  height: 45%;

  ion-card {
    height: 90%;
  }
}

.navigation-area,
.check-area {
  position: absolute;
  bottom: 0;
  z-index: 1000;

  padding: 20px;

  width: 100%;
}

.noCards {
  div {
    height: 100%;
    padding: 20px;
    display: flex;

    p {
      text-align: center;
      margin: auto 0;
    }
  }
}

ion-content.result-page {
  padding-bottom: 100px;
  .result {
    padding: 20px;
    text-align: center;

    .points {
      display: flex;
      justify-content: center;

      h1:first-of-type {
        font-size: 4rem;
        color: var(--ion-color-tertiary);
      }
      h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--ion-color-medium);
      }
    }
    p {
      margin: 0;
    }
    .motivation {
      margin: 20px 0;
    }
  }

  ion-list {
    z-index: 10;
    padding: 20px 0;
    ion-accordion-group {
      ion-accordion {
        border-bottom: 1px solid var(--ion-color-medium);
      }
    }
  }
  ion-list:last-of-type {
    margin-bottom: 60px;
  }

  .button-area {
    z-index: 1000;
    background-image: linear-gradient(to top, #ffffffdd, #ffffff55);
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
