<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="greeting-area">
    <div class="decoration-primary deco-roundetBottomCorner"></div>
    <div class="decoration-tertiary deco-header">
      <div>
        <ion-text><h3>Lernset erstellen</h3></ion-text>
      </div>
    </div>
  </div>

  <div class="decoration-tertiary deco-space">
    <div class="decoration-background"></div>
  </div>

  <div class="content-area">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Benenne dein Lernset:</ion-label>
        <ion-input placeholder="Die Geschichte über Cookies"></ion-input>
      </ion-item>
    </ion-list>

    <div>
      <ion-card *ngFor="let _ of [].constructor(studycard_amount+1)">
        <ion-card-content>
          <ion-list lines="full">
            <ion-item class="ion-no-padding">
              <ion-label position="stacked">Frage:</ion-label>
              <ion-textarea autoGrow="true" rows="1"></ion-textarea>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-label position="stacked">Antwort:</ion-label>
              <ion-textarea autoGrow="true" rows="1"></ion-textarea>
              <!-- add possibility for adding multiple choice -->
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="ion-text-center">
      <p>Noch eine Lernkarte?</p>

      <ion-button shape="round" (click)="addStudycard()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
