<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="greeting-area">
    <div class="decoration-primary deco-roundetBottomCorner"></div>
    <div class="decoration-tertiary deco-header">
      <div>
        <ion-text><h3>Lernset erstellen</h3></ion-text>
      </div>
    </div>
  </div>

  <div class="decoration-tertiary deco-space">
    <div class="decoration-background"></div>
  </div>
</ion-content>
