<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    vertical="top"
    horizontal="end"
    edge
    slot="fixed"
    (click)="handleStudykitSaving()"
  >
    <ion-fab-button color="secondary">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="greeting-area">
    <div class="decoration-primary deco-roundetBottomCorner"></div>
    <div class="decoration-tertiary deco-header">
      <div>
        <ion-text
          ><h3>
            Lernset <span *ngIf="!isStudikitEdited">erstellen</span
            ><span *ngIf="isStudikitEdited">bearbeiten</span>
          </h3></ion-text
        >
      </div>
    </div>
  </div>

  <div class="decoration-tertiary deco-space">
    <div class="decoration-background"></div>
  </div>

  <div class="content-area">
    <ion-list>
      <ion-item class="studykit_name">
        <ion-label position="stacked">Benenne dein Lernset:</ion-label>
        <ion-input
          placeholder="Die Geschichte über Cookies"
          [(ngModel)]="this.studykit.title"
          required
        >
        </ion-input>
        <ion-note slot="error">Gib deinem Lernset einen Namen.</ion-note>
      </ion-item>

      <ion-item class="studykit_name">
        <ion-label position="stacked">Beschreibe dein Lernset:</ion-label>
        <ion-input
          placeholder="Hier dreht sich alles um Cookies"
          [(ngModel)]="this.studykit.description"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="medium">Veröffentlichen</ion-label>
        <ion-toggle
          slot="end"
          [checked]="studykit.published"
          (ionChange)="updatePublishState($event)"
        ></ion-toggle>
      </ion-item>
    </ion-list>

    <div>
      <ion-card *ngFor="let studycard of studycards">
        <ion-card-content>
          <ion-list lines="full">
            <ion-item class="ion-no-padding">
              <ion-label>Art der Frage</ion-label>
              <ion-select
                placeholder="..."
                value="{{studycard.type}}"
                (ionChange)="setCardType($event, studycard.id)"
              >
                <ion-select-option value="multiple"
                  >Multiple Choice</ion-select-option
                >
                <ion-select-option value="text">Text</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item class="ion-no-padding">
              <ion-label position="stacked">Frage:</ion-label>
              <ion-textarea
                autoGrow="true"
                rows="1"
                [(ngModel)]="studycard.question"
              ></ion-textarea>
            </ion-item>

            <ion-item *ngIf="studycard.type == 'text'" class="ion-no-padding">
              <ion-label position="stacked">Antwort:</ion-label>
              <ion-textarea
                autoGrow="true"
                rows="1"
                [(ngModel)]="studycard.answers[0]"
              ></ion-textarea>
            </ion-item>

            <div *ngIf="studycard.type == 'multiple';" class="ion-no-padding">
              <ion-item>
                <ion-label position="stacked">Antworten:</ion-label>
              </ion-item>

              <div id="answers-box">
                <ion-item
                  *ngFor="let answer of studycard.answers"
                  (keyup.enter)="addNewAnswer(studycard.id)"
                >
                  <ion-checkbox
                    slot="start"
                    [(ngModel)]="answer.isRight"
                  ></ion-checkbox>
                  <ion-input
                    placeholder="Antwort"
                    [(ngModel)]="answer.text"
                  ></ion-input>
                  <ion-icon
                    name="trash-outline"
                    color="danger"
                    slot="end"
                    (click)="deleteAnswerEntry(studycard.id, answer.id)"
                  ></ion-icon>
                </ion-item>
              </div>

              <ion-item class="addAnswer" (click)="addNewAnswer(studycard.id)">
                <ion-icon name="add-circle-outline"></ion-icon>
                <ion-text class="small">
                  Antwortmöglichkeit hinzufügen
                </ion-text>
              </ion-item>
            </div>

            <ion-item class="info-area ion-no-padding">
              <ion-text class="small" color="medium"
                >Lernrunde: {{ studycard.repetitionTimes }}</ion-text
              >

              <ion-icon
                name="trash-outline"
                color="danger"
                slot="end"
                (click)="requestDeleteCard(studycard.id)"
              ></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="ion-text-center ion-padding-bottom ion-padding-horizontal">
      <p>Noch eine Lernkarte?</p>

      <ion-button shape="round" (click)="addStudycard()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
