<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lernwelt</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isOnline">
  <div>
    <div>
      <ion-searchbar
        (ionChange)="handleSearchbarChange($event)"
        placeholder="Suche nach einem Lernset"
      ></ion-searchbar>
    </div>

    <div>
      <ion-card
        *ngFor="let studykit of results"
        routerLink="/studykit-detail/{{ studykit.id }}"
      >
        <ion-card-header>
          <ion-card-title>
            <h3>{{ studykit.title }}</h3>
            <h6>
              <ion-text>Kartenanzahl: {{ studykit.cards.length }}</ion-text>
            </h6>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>
            <ion-text>{{ studykit.description }}</ion-text>
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="!isOnline">
  <div class="ion-padding ion-text-center">
    <ion-text>Du hast keine Internetverbindung.</ion-text>
  </div>
</ion-content>
