<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ studykit.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="studycardsToShow.length > 0">
  <div class="question-area">
    <ion-card *ngIf="!isShowAnswer || cardToShow.type === 'multiple'">
      <ion-card-header>
        <ion-card-subtitle>Frage</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content> {{ cardToShow.question }} </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isShowAnswer && cardToShow.type === 'text'">
      <ion-card-header>
        <ion-card-subtitle>Antwort</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content> {{ cardToShow.answers[0] }} </ion-card-content>
    </ion-card>
  </div>

  <div class="answer-area">
    <div *ngIf="cardToShow.type === 'text'">
      <ion-list>
        <ion-item *ngIf="isShowAnswer">
          <ion-text
            *ngIf="answerSimilarity < 70"
            color="danger"
            class="text-small"
          >
            {{ answerSimilarity }}% Textähnlichkeit - Antwort nicht
            richtig</ion-text
          >
          <ion-text
            *ngIf="answerSimilarity >= 70"
            color="success"
            class="text-small"
          >
            {{ answerSimilarity }}% Textähnlichkeit - Antwort richtig</ion-text
          >
        </ion-item>

        <ion-item>
          <ion-textarea
            placeholder="Meine Antwort"
            rows="5"
            [(ngModel)]="textAnswer"
            [attr.disabled]="isShowAnswer"
          ></ion-textarea>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="cardToShow.type === 'multiple'">
      <ion-list>
        <ion-item *ngFor="let answer of cardToShow.answers">
          <ion-checkbox slot="start" (click)="onChange(answer)"></ion-checkbox>
          <ion-label>{{ answer.text }}</ion-label>
          <ion-icon
            *ngIf="isShowAnswer && isChecked(answer)"
            color="success"
            name="checkmark-circle-outline"
            slot="end"
          ></ion-icon>
          <ion-icon
            *ngIf="isShowAnswer && !isChecked(answer)"
            color="danger"
            name="close-circle-outline"
            slot="end"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="check-area" *ngIf="!isShowAnswer">
    <ion-button expand="block" shape="round" (click)="checkAnswer()"
      >Antwort überprüfen</ion-button
    >
  </div>

  <div class="navigation-area" *ngIf="isShowAnswer">
    <ion-button expand="block" shape="round" (click)="increaseCardIndex()"
      >Weiter</ion-button
    >
  </div>
</ion-content>

<ion-content *ngIf="studycardsToShow.length === 0" class="noCards">
  <div>
    <p>
      Du musst heute nichts mehr für dieses Studyset lernen. <br /><br />
      Komme morgen wieder!
    </p>
  </div>
</ion-content>
