<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lernsetübersicht</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button routerLink="/create-studykit">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="studykits.length > 0">
    <ion-list>
      <ion-item-sliding *ngFor="let studykit of studykits">
        <ion-item routerLink="/edit-studykit/{{ studykit.id }}">
          <ion-badge slot="end">{{ studykit.cards.length }}</ion-badge>
          <ion-label>{{ studykit.title }}</ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option (click)="deleteStudyset(studykit.id)" color="danger"
            >Delete</ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <div class="ion-text-center">
      <p>
        <ion-text color="medium"
          >Findest du dein Lernset nicht in der Liste?</ion-text
        >
      </p>

      <ion-button shape="round" routerLink="/create-studykit">
        <ion-icon slot="start" name="folder-open-outline"></ion-icon>
        Erstelle ein neues Lernset
      </ion-button>
    </div>
  </div>

  <div class="createStudykit">
    <div *ngIf="studykits.length == 0" class="ion-text-center">
      <p>Erstelle dein erstes Lernset jetzt!</p>

      <ion-button shape="round" routerLink="/create-studykit">
        <ion-icon slot="start" name="folder-open-outline"></ion-icon>
        Erstelle ein neues Lernset
      </ion-button>
    </div>
  </div>
</ion-content>
