<ion-content>
  <div class="greeting-area">
    <div class="decoration-primary deco-roundetBottomCorner"></div>
    <div class="decoration-tertiary deco-greeting"></div>
    <div class="decoration-tertiary"><div></div></div>
  </div>

  <div class="topic-area">
    <div class="decoration-background">
      <ion-text class="ion-text-center"><h1>Study App</h1></ion-text>

      <form [formGroup]="credentials" (ngSubmit)="login()">
        <ion-list>
          <ion-item>
            <ion-input
              type="email"
              placeholder="E-Mail"
              formControlName="email"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(email.dirty || email.touched) && email.errors"
              >Kontrollieren Sie ob die Email-Adresse richtig ist.</ion-note
            >
          </ion-item>

          <ion-item>
            <ion-input
              type="password"
              placeholder="Passwort"
              formControlName="password"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(password.dirty || password.touched) && password.errors"
              >Das Passwort muss mindestens 6 Zeichen haben.</ion-note
            >
          </ion-item>
        </ion-list>

        <ion-button type="submit" expand="block" [disabled]="!credentials.valid"
          >Anmelden</ion-button
        >
      </form>
    </div>
  </div>

  <div>
    <div class="deco-end decoration-primary shade">
      <div></div>
    </div>
    <div class="deco-line decoration-primary shade"></div>
  </div>
</ion-content>
