<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button>
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
