<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button routerLink="/menu">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="greeting-area">
    <div class="decoration-primary deco-roundetBottomCorner"></div>
    <div class="decoration-tertiary deco-greeting">
      <div>
        <ion-text><h3>Willkommen!</h3></ion-text>
        <ion-text><h2>Bist du bereit loszulegen?</h2></ion-text>
      </div>
    </div>
  </div>

  <div class="topic-area decoration-tertiary">
    <div class="decoration-background">
      <ion-list *ngIf="learningKits.length > 0">
        <ion-item>
          <h3>Wähle das Thema</h3>
        </ion-item>
        <ion-item>
          <ion-select
            [compareWith]="compareWith"
            placeholder="Lernset(s) auswählen"
            (ionChange)="handleChange($event)"
            [multiple]="true"
          >
            <ion-select-option *ngFor="let kit of learningKits" [value]="kit"
              >{{ kit.title }}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="content-area">
    <div *ngIf="learningKit.length == 0" class="ion-text-center">
      <p *ngIf="learningKits.length == 0">
        Erstelle dein erstes Lernset jetzt!
      </p>

      <p *ngIf="learningKits.length > 0">
        Findest du dein Lernset nicht in der Liste?
      </p>

      <ion-button shape="round" routerLink="/create-studykit">
        <ion-icon slot="start" name="folder-open-outline"></ion-icon>
        Erstelle ein neues Lernset
      </ion-button>
    </div>

    <div *ngIf="learningKit.length > 0">
      <ion-list lines="none">
        <ion-item>
          <ion-text><h3>Wähle den Modus</h3></ion-text>
        </ion-item>
      </ion-list>

      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
          <ion-card class="card first">
            <ion-card-header>
              <ion-card-title>
                <h4>
                  Alles im Blick
                </h4>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>
                Perfekt, wenn du dich neu mit neune Lerinhalten
                auseinandersetzen willst.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="card second">
            <ion-card-header>
              <ion-card-title>
                <h4>
                  Lerne mit Sinn
                </h4>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>
                Perfekt, wenn du Lerinhalte ins Langzeitgedächtnis überführen
                möchtest.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="card third">
            <ion-card-header>
              <ion-card-title>
                <h4>
                  Teste dein Wissen
                </h4>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p>
                Perfekt, um dein Wissen in einer Prüfungssituation auf die Probe
                zu stellen.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  
  <div>
    <div class="deco-end decoration-primary shade">
      <div></div>
    </div>
    <div class="deco-line decoration-primary shade"></div>
  </div>
</ion-content>
