/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
link: https://ionicframework.com/docs/theming/colors

    --ion-color-primary                 = Base color (Hex)
    --ion-color-primary-rgb             = Base color (rgb)
    --ion-color-primary-contrast        = Contrast color, should be visible on base color (Hex)
    --ion-color-primary-contrast-rgb    = Contrast color, should be visible on base color (rgb)
    --ion-color-primary-shade           = darker version of base color
    --ion-color-primary-tint            = lighter version of base color
*/

.text-small {
  font-size: 0.7rem;
}

.ion-item {
  background-color: none;
}

.decoration-primary {
  background-color: var(--ion-color-primary);

  &.tint {
    background-color: var(--ion-color-primary-tint);
  }
  &.shade {
    background-color: var(--ion-color-primary-shade);
  }
}
.decoration-secondary {
  background-color: var(--ion-color-secondary);

  &.tint {
    background-color: var(--ion-color-secondary-tint);
  }
  &.shade {
    background-color: var(--ion-color-secondary-shade);
  }
}
.decoration-tertiary {
  background-color: var(--ion-color-tertiary);

  &.tint {
    background-color: var(--ion-color-tertiary-tint);
  }
  &.shade {
    background-color: var(--ion-color-tertiary-shade);
  }
}
.decoration-fourth {
  background-color: var(--ion-color-fourth);

  &.tint {
    background-color: var(--ion-color-fourth-tint);
  }
  &.shade {
    background-color: var(--ion-color-secofourthndary-shade);
  }
}
.decoration-background {
  background-color: var(--ion-background-color);
}

ion-item {
  --background: none;
}
ion-list {
  --ion-item-background: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
:root {
  --ion-font-family: "Rubik", sans-serif;

  --ion-color-primary: #7895ac;
  --ion-color-primary-rgb: rgb(120, 149, 172);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: rgb(255, 255, 255);
  --ion-color-primary-shade: #4e708a;
  --ion-color-primary-tint: #d8e8f5;

  --ion-color-secondary: #c9dabd;
  --ion-color-secondary-rgb: rgb(201, 218, 189);
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: rgb(0, 0, 0);
  --ion-color-secondary-shade: #a4ba94;
  --ion-color-secondary-tint: #f0fbe9;

  --ion-color-tertiary: #efac86;
  --ion-color-tertiary-rgb: rgb(239, 172, 134);
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: rgb(0, 0, 0);
  --ion-color-tertiary-shade: #ed8e58;
  --ion-color-tertiary-tint: #f7d6c3;

  --ion-color-fourth: #ffefa3;
  --ion-color-fourth-rgb: rgb(255, 239, 163);
  --ion-color-fourth-contrast: #000000;
  --ion-color-fourth-contrast-rgb: rgb(0, 0, 0);
  --ion-color-fourth-shade: #ffdf49;
  --ion-color-fourth-tint: #fff8d5;
}

@media (prefers-color-scheme: dark) {
  :root {
    body.dark {
      --ion-color-primary: #7895ac;
      --ion-color-primary-rgb: rgb(120, 149, 172);
      --ion-color-primary-contrast: #ffffff;
      --ion-color-primary-contrast-rgb: rgb(255, 255, 255);
      --ion-color-primary-shade: #4e708a;
      --ion-color-primary-tint: #d8e8f5;

      --ion-color-secondary: #c9dabd;
      --ion-color-secondary-rgb: rgb(201, 218, 189);
      --ion-color-secondary-contrast: #000000;
      --ion-color-secondary-contrast-rgb: rgb(0, 0, 0);
      --ion-color-secondary-shade: #a4ba94;
      --ion-color-secondary-tint: #f0fbe9;

      --ion-color-tertiary: #da7033;
      --ion-color-tertiary-rgb: 218, 119, 62;
      --ion-color-tertiary-contrast: #000000;
      --ion-color-tertiary-contrast-rgb: 0, 0, 0;
      --ion-color-tertiary-shade: #c06937;
      --ion-color-tertiary-tint: #de8551;

      --ion-color-fourth: #ffefa3;
      --ion-color-fourth-rgb: rgb(255, 239, 163);
      --ion-color-fourth-contrast: #000000;
      --ion-color-fourth-contrast-rgb: rgb(0, 0, 0);
      --ion-color-fourth-shade: #ffdf49;
      --ion-color-fourth-tint: #fff8d5;
    }
  }
}

/* Fallback for older browsers or manual mode */
body.dark {
  --ion-color-primary: #4e708a;
  --ion-color-primary-rgb: rgb(78, 112, 138);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: rgb(255, 255, 255);
  --ion-color-primary-shade: #7895ac;
  --ion-color-primary-tint: #a3c4de;

  --ion-color-secondary: #a4ba94;
  --ion-color-secondary-rgb: rgb(164, 186, 148);
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: rgb(255, 255, 255);
  --ion-color-secondary-shade: #c9dabd;
  --ion-color-secondary-tint: #dbf2cb;

  --ion-color-tertiary: #ed8e58;
  --ion-color-tertiary-rgb: rgb(237, 142, 88);
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: rgb(255, 255, 255);
  --ion-color-tertiary-shade: #efac86;
  --ion-color-tertiary-tint: #efac86;
}
