.deco-roundetBottomCorner {
  z-index: 10000;
  height: 15vh;

  border-bottom-right-radius: 50px;
}
.deco-greeting {
  width: 85vw;
  margin-top: -12vh;
  padding: 25px 0;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  div {
    padding: 0 20px;
  }
}
.deco-space {
  width: 30vw;
  min-height: 50px;

  margin: -0.5px;

  div {
    height: 110%;
    width: 100vw;
    background-color: #ffffff;
    border-top-left-radius: 50px;
  }
}

.greeting-area {
  h2 {
    font-size: xx-large;
    margin-top: 5px;
    opacity: 0.75;
  }
  h3 {
    font-size: large;
    margin-bottom: 0;
    opacity: 0.6;
  }
}

.content-area {
  ion-button {
    margin: 0 auto;
  }

  ion-slides {
    padding: 0;
    height: 30vh;
    min-height: 150px;

    ion-slide {
      ion-card {
        height: 95%;
      }
    }
  }
}

.card {
  &.first {
    background: var(--ion-color-primary-tint);
  }

  &.second {
    background: var(--ion-color-secondary-tint);
  }

  &.third {
    background: var(--ion-color-tertiary-tint);
  }

  ion-card-title {
    font-size: 1.2em;
  }
}

.topic-area {
  ion-list {
    padding: 20px 0;
    border-top-left-radius: 50px;
  }
}

.deco-end {
  position: fixed;
  z-index: -10;
  bottom: 0;

  height: 50vh;
  width: 100vw;

  :first-child {
    bottom: 30%;
    height: 70%;

    div {
      height: 100%;
      background-color: #ffffff;
      border-top-left-radius: 0%;
      border-bottom-right-radius: 30%;
    }
  }
  
  :last-child {
    bottom: 0;
    height: 100%;
    border-top-left-radius: 80px;
  }
}
