<ion-content>
  <ion-slides pager="true" [options]="slideOpts">


    <ion-slide>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title>Lesen</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>Lernen</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-title>Prüfen</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>


  </ion-slides>
</ion-content>
