.deco-roundetBottomCorner {
  z-index: 10000;
  height: 15vh;

  border-bottom-right-radius: 50px;
}
.deco-greeting {
  width: 85vw;
  margin-top: -10vh;
  padding: 25px 0;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  div {
    padding: 0 20px;
  }
}
.deco-space {
  width: 30vw;
  height: 50px;

  margin: -0.5px;

  div {
    height: 110%;
    width: 100vw;;
    background-color: #ffffff;
    border-top-left-radius: 50px;
  }
}

.content {
  margin-top: 50px;

  h3 {
    padding: 0 20px;
  }

  ion-slides {
  padding: 0;
  height: 35vh;
  min-height: 200px;

  ion-slide {
    ion-card {
      height: 95%;
    }
  }
}
}


.card {
  &.first {
    background: var(--ion-color-primary-tint);
  }

  &.second {
    background: var(--ion-color-secondary-tint);
  }

  &.third {
    background: var(--ion-color-tertiary-tint);
  }

  ion-card-title {
    font-size: 1.2em;
  }
}